*{
    padding: 0;
    margin: 0;

}
.menu{
    display: flex;
    justify-content: space-between;
    font-family: helvetica, arial, sans-serif;
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    background-color:#2b4696;
}    
.menu a{
    color: white;
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
}
.menu a:hover{
    color:black;
    text-decoration: underline;
    opacity: 30%;
}

.welcome{
    font-family: helvetica, arial, sans-serif;
    display: flex;
    margin: 50px auto;
    width: 74%;
    
}

.textbox{
    text-align: center;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.textbox h1{
    font-family:'Birthstone', cursive;
}

.computer{
    width: 50%;
    height: 50%;
    opacity: 75%;
    background-color: hotpink;
}

hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

